@media only screen and (min-width: 1441px) {
  .home__container,
  .description__container,
  .category__container,
  .connection__container,
  .job__container,
  .subcribe__container,
  .about__container {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    margin-left: 44px;
    margin-right: 44px;
  }

  .nav__item {
    text-align: center;
  }

  .nav__link {
    font-size: 16px;
  }

  .nav__registration-login,
  .nav__registration-registor {
    font-size: 14px;
  }
}

/* Ipad */
@media only screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  .home__content-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .home__content-heading {
    text-align: center;
    font-size: 36px;
  }

  .home__content-subtitle {
    text-align: center;
    font-size: 18px;
  }

  .search__job,
  .search__city,
  .button__search {
    width: 100%;
  }

  .search__job-select,
  .search__city-select {
    width: 100%;
  }

  .button__search {
    justify-content: center;
  }

  .search__job-list {
    width: 100%;
  }

  .search__city-list {
    width: 100%;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  /* .nav__registration {
    display: flex;
    flex-direction: column;
    gap: 16px;
  } */

  .subscribe__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .subscribe__button {
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  .category__list-1,
  .category__list-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .home__container-content {
    min-height: 700px;
  }

  .brand__list {
    align-items: center;
    justify-content: center;
    gap: 32px;
  }

  .nav__menu {
    position: absolute;
    right: 0;
    height: 100vh;
    top: 100px;
    background-color: #fff;
    display: none;
    width: 50%;
  }

  .nav__menu-bar {
    display: block;
    cursor: pointer;
  }

  .nav--active {
    display: block;
  }

  .nav__menu.nav--active {
    animation: fade-in 1s;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .nav__list {
    gap: 5rem;
    margin-top: 10%;
  }

  .nav__link {
    font-size: 20px;
  }

  .nav__registration-login,
  .nav__registration-registor {
    font-size: 20px;
  }

  .nav__registration-login {
    display: flex;
    justify-content: center;
  }

  .slider {
    display: none;
  }
}
/* Mobile */
@media (max-width: 740px) {
  .nav__logo img {
    width: 158px;
    height: 32px;
  }

  .nav__menu {
    position: absolute;
    right: 0;
    height: 100vh;
    top: 100px;
    background-color: #fff;
    display: none;
    width: 100%;
  }

  .nav--active {
    display: block;
  }

  .nav__menu.nav--active {
    animation: fade-in 1s;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .home__img img {
    object-fit: contain;
  }

  .home__content-heading {
    font-size: 28px;
  }

  .category__list-1,
  .category__list-2 {
    display: none;
  }

  .connecton__img {
    margin-bottom: 0;
  }
  .connection__content {
    margin-top: 0;
  }

  .home__container-content {
    min-height: 700px;
    margin-bottom: 16px;
  }

  .home__content-search {
    margin: 0;
  }

  .description__content-list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0 61px;
    margin-bottom: 24px;
  }

  .subcribe__email {
    width: 340px;
  }

  .about__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 32px 0;
  }

  .about__follow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about__desciption {
    text-align: center;
  }

  .about__us,
  .about__partner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px 0;
  }

  .about__partner-title,
  .about__us-title {
    text-align: center;
  }

  .about__partner-list,
  .about__us-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .connection__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .connection__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .connection__subtitle {
    text-align: center;
  }

  .button__connection {
    margin-bottom: 32px;
  }

  .description__content-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .brand__list {
    display: none;
  }

  /* slider brand list*/
  .slider {
    display: block;
  }
  .slider {
    max-width: 360px;
    margin: 25px auto;
    position: relative;
  }

  .slider-next,
  .slider-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    font-size: 20px;
    z-index: 10;
  }

  .slider-next {
    right: -25px;
  }
  .slider-prev {
    left: -25px;
  }
  .slider-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    z-index: 10;
  }
  .slider-dots li {
    margin: 0 10px;
    width: 15px;
    height: 15px;
    border-radius: 100rem;
    background-color: #999;
    cursor: pointer;
    transition: background-color 0.25s linear;
  }
  .slider-dots li.active {
    background-color: white;
  }

  .slider-wrapper {
    width: 100%;
    height: 240px;
    overflow: hidden;
    position: relative;
  }

  .slider-main {
    display: flex;
    position: relative;
    transition: transform 0.25s linear;
    height: 100%;
  }

  .slider-item {
    width: 100%;
    height: auto;
    flex: 1 0 100%;
    user-select: none;
  }

  .slider-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }

  .category__wrapper {
    display: block;
    margin-top: 24px;
  }

  .category__wrapper {
    width: 100%;
  }

  .category__wrapper .owl-carousel {
    max-width: 200px;
    margin: auto;
  }

  .category__item {
    box-shadow: none;
  }

  /* Job */
  .job__wrapper {
    display: block;
  }

  .job__wrapper .owl-carousel {
    margin: 0 auto;
    max-width: 310px;
    text-align: center;
  }

  .job__list {
    display: none;
  }

  .job__list-item {
    box-shadow: none;
    border-radius: 10px;
  }
}
